* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
    color: white;
  }
  
  a:active {
    text-decoration: none;
    color: white;
  }

body,
.navbar,
.navbarLinks-container,
.navbar-links,
.character-section,
.profile,
.charcter-photo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    line-height: 2;
}

.navbar {
    /* border: 2px solid red; */
    justify-content: center;
    height: 50%;
    width: 100%;
    background-color: #000000;
    color: #FFFF;
    margin-bottom: 8%;
}

.navbarLinks-container {
    /* border: 2px solid green; */
    height: 100%;
    justify-content: center;
}

.logo-container,
.navbar-links {
    /* border: 2px solid green; */
    text-align: center;
    width: 100%;
    flex-grow: 1;
}

.navbar-links {
    /* border: 2px solid green;  */
    padding: 1.5% 0;
    justify-content: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar-links:hover {
    background-color: #333333;
    border: 2px solid #333333;
}

.logo-container {
    background-color: #55A630;
    padding: 5% 0;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.main {
    background-color: #163235;
    width: 96%;
    color: #ffffff;
    height: 400px;
    /* border: 2px solid red; */
    height: 100%;
    padding: 10%;
}

.details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    max-height: 100%;

}

.btn-container {
    /* border:2px solid green; */
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.CTA-btn {
    background-color: #efca7c;
    padding: 1.5% 0;
    width: 100%;
    /* border:2px solid red; */
    text-align: center;
    color: #55A630;
    border: 2px solid #ffff;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

iframe {
    width: 300px;
    height: 215px;
    margin: 10% 0;
}

.profile {
    /* border:2px solid red; */
    margin-top: 30%;
}

.charcter-photo {
    justify-content: space-evenly;
    height: 100%;
}

.character-section {
    border-bottom: 100px solid black;
}

@media screen and (min-width: 1250px) {

  

    .navbar,
    .logo-container,
    .navbarLinks-container {
        /* border: 2px solid red; */
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: 6.5%;
        font-size: 1.1rem;
    }

    .navbar-links {
        /* border: 2px solid green;  */
        padding: 1% 0;
    }

    .logo-container {
        width: 25%;
        padding: 3.2% 0;
    }


    .details {
        height: 100%;
        /* border: 2px solid red;; */
    }

    iframe {
        width: 95%;
        height: 35rem;
        margin: 4%;
    }

    .CTA-btn {
        display: none;
    }

    .character-section{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 10% 0;
        align-content:first baseline ;

        /* border: 2px solid red;; */
       

    }

    .profile{
       
        width: 50%;
        height:auto;
        margin: 5% 0;
    }

    img{
        width: 25rem;
        height: 15rem;
    }

    a:hover{
        border: 8px solid green;

    }
}