* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.navbar,
.navbarLinks-container,
.navbar-links {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.navbar {
    /* border: 2px solid red; */
    height: 30%;
    max-width: 100%;
    background-color: #000000;
    color: #FFFF;
}

.navbarLinks-container {
    /* border: 2px solid green; */
    height: 100%;
    justify-content: center;
}

.logo-container,
.navbar-links {
    /* border: 2px solid green; */
    text-align: center;
    width: 100%;
    flex-grow: 1;
}

.navbar-links {
    border: 2px solid green; 
    justify-content: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.navbar-links:hover {
 background-color: #333333;
}

.logo-container {
    padding: 5% 0;
}