* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #F8F8F8;
}

.characterProfile-wrapper {
    height: 100%;
    width: 80%;
    /* border:2px solid red; */
}

.details-box {
    height: fit-content;
    border: 2px solid green;
    text-align: center;
    background-color: #FFFF;
    border: 2px solid #d0d6d6;
    border-radius: 10%;
}



.profile-section {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    /* border:2px solid yellow; */
}

.meta-details {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0% 5%;
    margin-top: 5%;
}

.meta-details>h6 {
    color: #55A630;
    text-align: left;
}

.about {
    display: none;
}
.details-wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 8% 0;
}

.details-box{
  padding: 8% 0;
  margin: 8% 0;

}


@media screen and (min-width: 1250px) {

   

    .characterProfile-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        /* border: 2px solid red; */
        width: 100%;
        height: fit-content;
    }

    .profile-section {
        display: flex;
        flex-flow: flex-start;
        justify-content: flex-start;
        align-items: center;
        /* border:2px solid red; */
        width: 100%;
        
    }

   
    
    .about{
        display: block;
        height: fit-content;
        /* border: 2px solid green; */
        text-align: center;
        background-color: #FFFF;
        border: 2px solid #d0d6d6;
        width: 100%;
    }

    .about > h2{
       border-bottom: 2px solid black;
    }

    .details-wrapper{
        align-items: flex-start;
          /* border: 2px solid green; */
        margin: 0 0;
        width: 80%;
     
    }
    .details-box{
        width: 100%;
        margin: 5% 0;
        /* border: 2px solid green; */
    }

    .displayNone{
        display: none;;

    }


.details-box {
    height: fit-content;
    /* border: 2px solid green; */
    text-align: center;
    background-color: #FFFF;
    border: 2px solid #d0d6d6;
    border-radius: 0;
  

}

}